Django
berglas-python
black
dj-database-url
django-cors-headers
django-debug-toolbar
django-debug-toolbar-request-history
django-markdownify
django-storages[google]
flake8
flake8-black
flake8-bugbear
google-cloud-pubsub
graphene==3.0.dev20190817210753
gunicorn
httpx
latex
phonenumbers
pip-tools
psycopg2-binary
pyjwt
pytest
pytest-django
pytest-dotenv
python-dateutil
python-dotenv
python-jose
regex>=2020.1.8
requests
social-auth-app-django
tqdm
twilio
ukpostcodeparser
whitenoise
